<!-- <div class=".my-background">
  <h1>Welcome Vamsi</h1>
</div> -->

<app-PostFrom></app-PostFrom>


<!-- <app-test (childinfo)="c=$event" [fromparent]="parentmsg"></app-test>

<h1>{{c}}</h1> -->


<!-- ****services***** -->

<!-- <app-studentlist></app-studentlist>y
<app-studentdetails></app-studentdetails> -->


<!-- ****Routing**** -->
 <!-- <router-outlet></router-outlet>
 <nav>
   <a routerLink="/student">Student List</a> &nbsp;
   <a routerLink="/course">course List</a>
 </nav> -->


 <!-- ****Reacive**** -->

<!-- <app-Reactive></app-Reactive> -->





